<a href="https://colab.research.google.com/github/DanoSnow/SQLALchemy/blob/main/SQLAlchemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

I will create a new model for an User object

In [23]:
from pydantic import BaseModel
from typing import Optional

class User(BaseModel):
  id: Optional[int]
  name: str
  password: str

I will use the ORM SQLAlchemy for mapping an User component that I will use on a table "users"

In [24]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///Users.db', echo=True)

from sqlalchemy import Column, String, Integer
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()
class Users(Base):
  __tablename__ = 'users'
  id = Column(Integer, primary_key=True, autoincrement=True)
  name = Column(String)
  password = Column(String)
Base.metadata.create_all(engine)

2023-03-23 19:35:09,261 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-03-23 19:35:09,268 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("users")

2023-03-23 19:35:09,275 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2023-03-23 19:35:09,280 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("users")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("users")

2023-03-23 19:35:09,286 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2023-03-23 19:35:09,289 INFO sqlalchemy.engine.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	password VARCHAR,
	PRIMARY KEY (id)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	password VARCHAR,
	PRIMARY KEY (id)
)

2023-03-23 19:35:09,291 INFO sqlalchemy.engine.Engine [no key 0.00223s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00223s] ()

2023-03-23 19:35:09,314 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

Now I will create the database handler

In [25]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()

# I will define a function that adds a User object
def add(*user: User):
  session.add_all([Users(name=elem.name, password=elem.password)
  for elem in user])
  # session.add(Users(id=user.id, name=user.name, password=user.password))
  session.commit()

This new cell is optional. I just wanted to check the table.

In [26]:
# Now I will use the function to add a User object
add(User(name='Daniel', password='1234'),
    User(name='Alberto', password='2345'))

2023-03-23 19:35:42,870 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-03-23 19:35:42,878 INFO sqlalchemy.engine.Engine INSERT INTO users (name, password) VALUES (?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO users (name, password) VALUES (?, ?)

2023-03-23 19:35:42,884 INFO sqlalchemy.engine.Engine [generated in 0.00623s] ('Daniel', '1234')

INFO:sqlalchemy.engine.Engine:[generated in 0.00623s] ('Daniel', '1234')

2023-03-23 19:35:42,888 INFO sqlalchemy.engine.Engine INSERT INTO users (name, password) VALUES (?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO users (name, password) VALUES (?, ?)

2023-03-23 19:35:42,893 INFO sqlalchemy.engine.Engine [cached since 0.01499s ago] ('Alberto', '2345')

INFO:sqlalchemy.engine.Engine:[cached since 0.01499s ago] ('Alberto', '2345')

2023-03-23 19:35:42,897 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [27]:
result = session.query(Users).all()
for row in result:
  print ("ID: ",row.id, "Address:",row.name, "Email:",row.password)

2023-03-23 19:35:54,285 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-03-23 19:35:54,290 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users

INFO:sqlalchemy.engine.Engine:SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users

2023-03-23 19:35:54,297 INFO sqlalchemy.engine.Engine [generated in 0.00680s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00680s] ()

ID:  1 Address: Daniel Email: 1234
ID:  2 Address: Alberto Email: 2345

Now I will define the function where I will update Users object

In [33]:
x=session.query(Users).get(1)
print ("ID: ",x.id, "Name:",x.name, "Password:",x.password)

ID:  1 Name: Daniel Password: 1234